Propriétés fonctionnelles:
Le système doit assurer la possibilité d'imbriquer n'importe quel système electoral
Le système doit être facilement intégré dans les systèmes numériques d'élections existantes. Peut-être un module d'un autre système (plein-plein d'adaptateurs)
Le système doit pouvoir interagir avec les bases de données (base de donné des électeurs, des parties, des candidats, les résultats peuvent être lus/écrits dans la base de donnés
Le système traite le scrutin et retourne soit le résultat final, soit le résultat intermédiaire et besoin de deuxième tour.
Le système peut retourner l'information statistique concernant les elections
Le système assure la possibilité de traitement de niveaux differentes municipaux–>éuropeens
Traitement de données d'entrée en temps réel (au cours des élections)
Système aussi permet de traiter les referendums
Le systèe doit pouvoir traiter les fautes des electeurs (bulletins de votes pourris, incorrectes ne fait pas le système tombé en pomme) 



Propriétés non- fonctionnelles:
Confidentialité: le système doit assurer l'anonymat des électeurs
Maintenance : Possibilité de supprimer, modifier ou de rajouter des fonctionnalités, par des développeurs qui ne soient pas forcément les développeurs d'origine
	Facilité d'utilisation et imbrication: le framework doit être facilement compréhensible
Detection des violations (ex: plusieurs votes de même personne)

